
body {
	background-color: #ffffff;
	font-family: "GothamPro";
	font-weight: 300;
	font-size: 16px;
	color: black;

	-webkit-font-smoothing: antialiased;
	  -webkit-overflow-scrolling: touch;

	margin-top: 70px;
}

h1, h2, h3, h4 ,h5 {
	font-family: "GothamPro";
	font-weight: 300;
	color: black;
}

p{
	line-height: 28px;
	margin-bottom: 25px;
}

.navbar {
	font-weight: 800;
	font-size: 11.75pt;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #f5f5f5;
	border-color: #f5f5f5;
}
.navbar-inverse .navbar-nav > li > a {
	color: #333333;
}
.navbar-inverse .navbar-nav > li > a:hover, a:active, a:focus, a:visited {
	color: #ae0353;
	text-decoration: none;
	outline: 0;
}
.navbar-inverse .navbar-nav > li {
padding-left: 20px;
}
.navbar-inverse .navbar-nav > img {
	position: absolute;
	padding-top: 8px;
	padding-left: 100px;
}



#headerwrap {
	background: url(../photo/main_photo.jpg); no-repeat center top;
	margin top: -10px;
	padding-top: 20px;
	text-align: left: ;;
	background-attachment: relative;
	background-position: center center;
	min-height: 885px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

#headerwrap h1 {
	margin-top: 225px;
	margin-bottom: -60px;
	color: #434343;
	font-size: 30pt;
	font-stretch: extra-expanded;
	height: 200px;
	font-family: "GothamPro-Bold";	
	line-height:40px;
}

#headerwrap p {
	
	color: #ae0353;
	font-family: "GothamPro-Bold";
	font-weight: bold;	
}
#headerwrap h2 {
	color: #333333; 
	font-size: 15px;
	margin-top: 40px;
	letter-spacing: 1px;
	line-height:25px;

}
#headerwrap img {
    padding-top: 95px;
    
}
.centered {
	text-align: center;
}
#main h1 {
	
	color: #434343;
	font-size: 28pt;
	font-stretch: extra-expanded;
	height: 22px;
	font-family: "GothamPro-Bold";	
	line-height:40px;
}
#main p {
	
	color: #ae0353;
	font-family: "GothamPro-Bold";
	font-weight: bold;	
}
#main h2 {
	color: #333333; 
	font-size: 15pt;
	letter-spacing: 1px;
	line-height:22px;
}
#main h3 {
	color: #333333; 
	font-size: 15pt;
	font-family: "GothamPro-Bold";
}

#main img {
	margin-left: 25px;
	margin-top: 20px;
}
#main ul.point {
    list-style-image: url(../photo/ul_point.png); /* Путь к изображению маркера */
   }
#main .border_bottom {
	    border-bottom: 3px solid #f1f1f1;
	    width: 100%;
}
#main .spisok {
	padding-top: 30px;
}
#main .begin_reviews{
	padding-bottom:30px;
}
#reviews .reviews {
	border-top: 3px solid #f1f1f1;
	    width: 100%;
}
#reviews .load {
	border-bottom:3px solid #f1f1f1;
	    width: 100%;
	    padding-bottom: 40px;
}
#submit {
	border-bottom:3px solid #f1f1f1;
	    width: 100%;
	    padding-bottom: 40px;
}
#submit input {
border: 0px;
border-bottom: 1px solid #dddddd;
border-radius: 0;
height: 50px;
box-shadow: none;
-webkit-box-shadow: none;
}
#submit select {
border-radius: 0;
border-color: #dddddd;
height: 50px;
box-shadow: none;
-webkit-box-shadow: none;
}
#submit textarea {
border-radius: 0;
border-color: #dddddd;
box-shadow: none;
-webkit-box-shadow: none;
}